@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    /*background-image:radial-gradient(rgb(0, 119, 255),rgb(143, 192, 248),rgb(198, 222, 250),rgb(255, 255, 255));
}*/
    font-family: "Roboto Flex", sans-serif;
}

h1{
    text-align: center;
}
.regnow{
    font-size: small;
}
.form-container{
    background-color: #b9b9bc;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
    width: 600px;
    border:none;
    align-items: center;
    border-radius: 10px;
}


.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color:#6100ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button{
    background: linear-gradient(to right, #ffc83a, #ff008a, #6100ff);;
    color: white;
    border: none;
    padding:14px;
    margin-top: 10px;
    border-radius: 13px;
}

.del{
    width: 60%;
    color:#ff008a;
    border:#ff008a solid 1px;
    background: white;
}
.button:hover{
    padding: 15px;
    border: none;
}

.form-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-upload {
    margin-bottom: 20px;
}



